---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Aprenda Fetch</title>
	</head>
	<body class="min-h-dvh scroll-smooth">
    <section class="h-[calc(100dvh-100px)] w-full grid place-items-center">
      <div class="container text-center space-y-10">
        <div class="tetx-center space-y-6 max-w-4xl mx-auto">
          <h1 class="text-5xl font-black">Domine a principal ferramenta de requisições HTTP para faturar mais (talvez) como programador.</h1>
          <p class="text-lg font-medium">
            Aperte o botão abaixo e comece sua mudança em 202x.
          </p>
        </div>

        <a href="#preco" class="bg-purple-700 h-12 inline-flex items-center px-4 rounded-xl leading-loose uppercase text-white text-xs hover:bg-purple-500 transition-colors">
          Sim, eu quero ganhar mais
        </a>
      </div>
    </section>

    <section class="w-full grid place-items-center py-20 bg-gray-950" id="preco">
      <div class="container text-center flex justify-center space-y-10">
        <div class="bg-gray-900 shadow-xl rounded-lg p-10 w-full max-w-md text-center space-y-10">
          <h2 class="text-3xl font-bold text-gray-50">Faça sua inscrição e garanta um super desconto</h2>
          <div>
            <h3 class="font-semibold text-2xl line-through text-purple-600/40">R$ 1.850,00</h3>
            <h4 class="text-5xl font-black text-gray-50">R$ 0,00</h4>
          </div>
          <a href="https://developer.mozilla.org/pt-BR/docs/Web/API/Fetch_API/Using_Fetch" class="bg-purple-700 h-12 inline-flex items-center px-4 rounded-xl leading-loose uppercase text-white text-xs hover:bg-purple-500 transition-colors">
            SIM, QUERO APRENDER
          </a>
        </div>
      </div>
    </section>
	</body>
</html>
